<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy: <a href="https://wykop.pl">The Ultimate Loser Team</a>
      by <a href="http://pedalskiwlamywacz.com">Lucas Wiertek</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>